.cajaPadre{
    width: 800px;
    height: 1150px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
 
}
.mostrador{
    border-top: white solid;
    border-left: white solid;
    border-right: white solid;
    border-bottom: grey solid;
    border-style:dotted;
    height: 25%;
}

.cliente{
    border-top: grey solid;
    border-left: white solid;
    border-right: white solid;
    border-bottom: gray solid;
    border-style:dotted;
    height: 25%;

}
.cuotas{
    border-top: grey solid;
    border-left: white solid;
    border-right: white solid;
    border-bottom: white solid;
    border-style: dotted;
    height: 50%;
}
